.save-button {
    display: flex;
    justify-content: flex-end;
    margin-top: 50px;
}

.labels {
    margin-top: 20px;
}

.tag-select {
    margin-top: 20px;
}

.cancel-button {
    display: flex;
    justify-content: flex-end;
}