.text {
    padding: 4px;
    margin: 4px;
}

.text-buttons-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.text-body {
    justify-content: flex-start;
}

.text-buttons {
    align-items: flex-start;
    justify-content: flex-end;
}